.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__btn {
    // position: absolute;
    // top: 10px;
    // right: 15px;
    display: block;
    margin-left: auto;
    padding: 0;
    padding-top: 10px;

    @include btn(null, none);
    background-color: transparent;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: var(--primary-bgc);
    // padding: 48px 40px;
    // padding-top: 48px;
    // padding-bottom: 48px;
}


.menu-container__item {
    &:not(:last-child) {
    margin-bottom: 32px;
}
}

.menu-nav__link {
    @include font(null, 500, 40px, 47px, 0.02em, var(--primary-text-color));
}

.menu-nav__link--current {
    color: var(--accent-color);
}

.header__menu-list {
    margin-bottom: 64px;
}

.menu-contact__item {
//     display: flex;
//     align-items: center;
//     justify-content: center;

    fill: currentColor;
    &:hover {
    fill: var(--accent-color);
}
//     &:not(:last-child) {
//     margin-right: 30px;
// }
}

.menu-contact__link {
    // display: flex;
    // align-items: center;
    // height: 100%;
    // padding-top: 32px;
    // padding-bottom: 32px;

    @include font(null, 500, 14px, 16px, 0.02em, var(--title-text-color));
}

.menu-cocial {
    display: flex;
}