.menu {
    display: flex;
    justify-content: space-between;
}

.menu__btn {
    @include btn(null, none);
    padding: 0;
    background-color: transparent;
}

.menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background-color: var(--primary-bgc);
    padding-top: 48px;
    padding-right: 40px;
}


.menu-nav__item {
//     position: relative;
//     &:not(:last-child) {
//     margin-right: 50px;
// }
}

.menu-nav__link {
    display: block;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    
    @include font(null, 500, 14px, 16px, 0.02em, var(--primary-text-color));
}

.menu-nav__link--current {
    color: var(--accent-color);
    &::after {
    content: '';
    position: absolute;
    bottom: -4px;

    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);

    border-radius: 2px;
}
}

.header__menu-contact {
    // display: flex;
    margin-left: auto;
}

.menu-contact__item {
    display: flex;
    align-items: center;
    justify-content: center;

    fill: currentColor;
    &:hover {
    fill: var(--accent-color);
}
    &:not(:last-child) {
    margin-right: 30px;
}
}

.contact__link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

    @include font(null, 500, 14px, 16px, 0.02em, var(--title-text-color));
}

.contact__icon {
    padding-right: 10px;
}